<div class="h-100 border border-1 rounded-2 p-1">
  <div class="container">
    <div
      class="pick-section"
      cdkDropList
      [cdkDropListData]="availableItems"
      (cdkDropListDropped)="drop($event)"
    >
      @for( item of availableItems; track item ){
      <div class="item" cdkDrag>
        {{ item }}
      </div>
      }
    </div>
    <div
      class="drop-section"
      cdkDropList
      [cdkDropListData]="droppedItems"
      (cdkDropListDropped)="drop($event)"
    >
      @for( item of droppedItems; track item ){
      <div class="item" cdkDrag>
        {{ item }}
      </div>
      }
    </div>
  </div>
</div>
