left-aside {
  .example-accordion {
    display: block;
    max-width: 500px;
  }

  .example-accordion-item {
    display: block;
    border: solid 1px #ccc;

    &+.example-accordion-item {
      border-top: none;
    }

    .example-accordion-item-header {

      &:hover {
        cursor: pointer;
        background-color: #eee;
      }
    }
  }
}

.active {
  background-color: #eee;
}